{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <div style="margin: 1.5em 5em 0em 2.5em;">
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="main" class="form-label">Main Content:</label>
                <textarea class="form-control" id="main" rows="10" name="main" required></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" class="btn btn-primary mb-3" value="CREATE">
            </div>
        </form>
    </div>

{% endblock %}